@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* 
======
Colors
======
 */
:root {
  --blue: #00469c;
  --blue-light: #0557b1;
  --yellow: #f4973b;
  --white: #ffffff;
  --black: #000000;
  --txt-container: #f3f5f5;
}

.background__primary {
  background-color: var(--blue);
}

.background__primary-light {
  background-color: var(--blue-light);
}

.background__secondary {
  background-color: var(--yellow);
}

.color__primary {
  color: var(--blue);
}

.color__primary-light {
  background: var(--blue-light);
}

.color__secondary {
  color: var(--yellow);
}

.colored__section {
  background-color: var(--blue);
  color: var(--white);
}

.custom__container {
  background-color: var(--txt-container);
}

/* 
==============
Custom Tag CSS
==============
 */
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

nav {
  transition: background 300ms ease-in-out;
}

section {
  padding-top: 6rem;
  margin-top: -4rem;
  min-height: 100vh;
  padding-bottom: 6rem;
}

/* 
===========
Nav Section
===========
 */
.nav-link:hover {
  color: var(--yellow);
}

.active {
  color: var(--yellow) !important;
}

/* 
=============
About Section
=============
 */

.custom__container-paragraph {
  word-break: break-all;
  text-align: justify;
}

.card {
  transition: scale 300ms ease-in-out;
}

.card:hover {
  scale: 1.05;
}

.btn__custom {
  background-color: var(--blue);
  color: var(--white) !important;
  transition: background 300ms ease-in-out;
}

.btn__custom:hover {
  background-color: var(--yellow) !important;
}

/* 
========================
Responsive Media Queries
========================
 */
@media screen and (max-width: 991px) {
  nav .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .navbar-brand {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  #topTeams .team__3 {
    order: 3;
  }

  #topTeams .team__2 {
    order: 2;
  }
  #topTeams .team__1 {
    order: 1;
  }
}
