@import "partials/colors.css";

/* 
==============
Custom Tag CSS
==============
 */
body {
  text-align: center;
  font-family: "chakra-petch";
}

nav {
  transition: background 300ms ease-in-out;
}

section {
  padding: 3rem 0;
}

/* 
===========
Nav Section
===========
 */
.nav-link:hover {
  color: var(--yellow);
}

.active {
  color: var(--yellow) !important;
}

/* 
=============
About Section
=============
 */

.custom__container-paragraph {
  word-break: break-all;
  text-align: justify;
}

.card {
  transition: scale 300ms ease-in-out;
}

.card:hover {
  scale: 1.05;
}

.btn__custom {
  background-color: var(--blue);
  color: var(--white) !important;
  transition: background 300ms ease-in-out;
}

.btn__custom:hover {
  background-color: var(--yellow) !important;
}

/* 
========================
Responsive Media Queries
========================
 */
@media screen and (max-width: 991px) {
  nav .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .navbar-brand {
    margin-bottom: 0.5rem;
  }
}
