:root {
  --blue: #00469c;
  --blue-light: #0557b1;
  --yellow: #f4973b;
  --white: #ffffff;
  --black: #000000;
  --txt-container: #f3f5f5;
}

.background__primary {
  background-color: var(--blue);
}

.background__primary-light {
  background-color: var(--blue-light);
}

.background__secondary {
  background-color: var(--yellow);
}

.color__primary {
  color: var(--blue);
}

.color__primary-light {
  background: var(--blue-light);
}

.color__secondary {
  color: var(--yellow);
}

.colored__section {
  background-color: var(--blue);
  color: var(--white);
}

.custom__container {
  background-color: var(--txt-container);
}
